In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('D:/datamining/dataset_soalNo.1.xls')

In [3]:
data.head()

      Age  Income Student Credit_rating Class (buy_computer)
0   <= 30    High      No          Fair                   No
1   <= 30    High      No     Excellent                   No
2  31..40    High      No          Fair                  Yes
3    > 40  Medium      No          Fair                  Yes
4    > 40     Low     Yes          Fair                  Yes

In [4]:
data.shape

(51, 5)

In [5]:
data['Income'].value_counts()

Low       21
Medium    19
High      11
Name: Income, dtype: int64

In [6]:
data['Student'].value_counts()

Yes    27
No     24
Name: Student, dtype: int64

In [7]:
PIcYes = 27/51
PIcNo = 24/51

In [8]:
print(PIcYes)

0.5294117647058824

In [9]:
print(PIcNo)

0.47058823529411764

In [10]:
pd.crosstab(data['Student'], data['Income'])

Income   High  Low  Medium
Student
No          9    1      14
Yes         2   20       5

In [11]:
PStdYes  = 2/51
PStdNo = 9/51

print(PStdYes)

0.0392156862745098

In [12]:
PStdYes  = 2/51
PStdNo = 9/51

print(PStdNo)

0.17647058823529413

In [13]:
PSIcLow  = 1/51

print(PSIcLow)

0.0196078431372549

In [15]:
Prcnt = (PStdYes*PSIcLow)*100
print(Prcnt)

0.07689350249903884